html{
    background-image: url(https://media.istockphoto.com/photos/loan-approval-loan-application-form-with-rubber-stamping-that-says-picture-id1302369199?s=612x612.jpg?attachment=)
}


h3
{
  display:flex;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items:center;
  justify-content:center;
}

.centercontent
{
  display:flex;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items:center;
  justify-content:center;
}

h1
{
  display:flex;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items:center;
  justify-content:center;
}